@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

nav {
    position: sticky;
    top: 0;
}

code {
    background-color: rgb(226 232 240);
}

.font-secular{
    font-family:'Secular One',sans-serif !important;
}
