@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

li {
    float: left;
  }

li a:hover {
    background-color: #111;
}

a{
    text-decoration: none;
}

/* .rounded{
    height:
} */