@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    position: sticky;
    top: 0;
}

code {
    background-color: rgb(226 232 240);
}

* {
    font-family: system-ui;
  }

/* 
#logo {
    background-color: transparent;
  }

#title{
    background-color:transparent;
} */
/* li span {
    background-color: rgb(19, 224, 112);
    }   */